<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="tp_rest" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{URL}" pattern="(.*rest.*?)/(.*?)/(.*)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}/index.php?request={C:2}/{C:3}" logRewrittenUrl="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
